.idea/
__pycache__/
*.py[cod]
*.out
*.swp
*.pdf

log/
tb_log/
state/
script/log/
script/tb_log/
script/state/

data/*.pkl
data/*_subgraph/
data/*_attr_subgraph/
data/*
!data/README.md
!data/sample_region_v6/
!data/sample_region_v6/*.txt
!data/sample_region_6_ind/
!data/sample_region_6_ind/*.txt

.DS_Store
